<div class="card">
  <div class="card-header d-flex justify-content-between bg-light">
    <h2 class="text-dark">Dashboard</h1>
    <%= form_with method: :get, local: true, class: "form-inline" do %>
      <div class="form-group">
      <%= label_tag :doctor_id, "Médico", class: "mr-2" %>
      <%= select_tag :doctor_id,
                     options_from_collection_for_select(@doctors, :id, :name_with_full_crm, @doctor_id),
                     include_blank: "Todos os médicos", class: "form-control mr-3" %>
      </div>
      <%= submit_tag "Filtrar", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-around">
      <div class="appointments-carried-out-count text-center m-3">
        <p class="display-4"><%= @dashboard[:appointments_carried_out_count] %></p>
        <h3>Consultas realizadas</h3>
      </div>

      <div class="appointments-count text-center m-3">
        <p class="display-4"><%= @dashboard[:appointments_count] %></p>
        <h3>Consultas cadastradas</h3>
      </div>

      <div class="patients-seen-count text-center m-3">
        <p class="display-4"><%= @dashboard[:patients_seen_count] %></p>
        <h3>Pacientes atendidos</h3>
      </div>

      <div class="patients-count text-center m-3">
        <p class="display-4"><%= @dashboard[:patients_count] %></p>
        <h3>Pacientes cadastrados</h3>
      </div>
    </div>
  </div>
</div>