<% if @patient.errors.any? %>
  <div class='alert alert-danger'>
    <ul>
    <% @patient.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @patient, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, maxlength: "255", required: true %>
  </div>

  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf, minlength: "11", maxlength: "11", required: true %>
  </div>

  <div>
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date, required: true %>
  </div>

  <%= f.submit %>
<% end %>
