<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center bg-light">
    <h2 class="text-dark">Listagem de pacientes cadastrados</h1>
    <%= link_to "Cadastrar", new_patient_path, class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="w-25">Nome</th>
            <th scope="col" class="w-25">CPF</th>
            <th scope="col" class="w-25">Data de Nascimento</th>
            <th scope="col" class="w-25">Médico</th>
            <th scope="col" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.name %></td>
              <td><%= patient.cpf %></td>
              <td><%= l(patient.birth_date) %></td>
              <td><%= patient.doctor.name_with_full_crm %></td>
              <td><%= link_to "Editar", edit_patient_path(patient) %></td>
              <td><%= link_to "Excluir", patient, method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if @patients.empty? %>
      <p class="empty-list">Nenhum paciente cadastrado</p>
    <% end %>
  </div>
</div>

<div class="d-flex mt-3 justify-content-center">
  <%== pagy_bootstrap_nav(@pagy).html_safe  %>
</div>
