<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Gns Doctor Appointment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/navbar" %>
    </header>

    <main class="container-fluid">
      <%= yield %>
    </main>

    <footer></footer>
  </body>
</html>
